* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: #c8ccd9
}

body {
  background: #c8ccd9
} 

.home {
  background: #c8ccd9
}

.addFooter{
  height: 90px
}

.header {
  height:90px;
  width: 100vw;
  top: 0px;
  position: fixed;
  background: #fff2dd;
  display: flex;
  justify-content:center;
  z-index: 1
}

.nonFixedHeader {
  height:90px;
  width: 100%;
  top: 0px;
  background: #fff2dd;
  display: flex;
  justify-content:center;
  z-index: 1
}

.main {
  background: #c8ccd9
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #282c34
} */

.navigation {
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0px;
  background: #fff2dd;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* border-radius: 10px; */
  z-index:1;
}

.navigation ul {
  display: flex;
  width: 350px;
  padding-left: 0rem
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 2
}

.icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  bottom: 17px
}

.icon-container .iconInactive {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.7em;
  text-align: center;
  transition: 0.5s;
  color: #282c34;
}

.icon-container .iconActive {
  transform: translateY(10px);
  font-size: 2.5em;
  transition: 0.2s;
  color: #642d3c
}

.icon-container .textInactive {
  position: absolute;
  color: #282c34;
  font-weight: 400;
  font-size: 0.85em;
  letter-spacing: 0.05em;
  opacity: 1;
  transform: translateY(20px);
  padding-top: 5px
}

.icon-container .textActive {
  opacity: 0;
  transform: translateY(10px)
}

.accordion-button {
  background-color: #fff2dd !important;
}

.accordion-body {
  background-color: #fff2dd !important;
}

.accordion-button:focus {
  border-color: #642d3c !important; 
}

.card-header {
  background-color: #e8c6a2 !important;
}

.card-body {
  background-color: #fff2dd !important;
}

.btn-primary {
  background-color: #e8c6a2 !important;
  color: #642d3c !important;
  border-color: #642d3c !important
}

.modal-header {
  background-color: #e8c6a2 !important;
}

.modal-body {
  background-color: #fff2dd !important;
}

.modal-footer {
  background-color: #fff2dd !important;
}

/* .accordion-button:not(.collapsed) {
  color: #642d3c !important

} */

/* .accordion-button::after
.accordion-button:not(.collapsed)::after */

@media only screen and (min-width: 768px) {
  /* For desktop: */
  /* .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;} */

  .row{
    padding-left: 320px;
    padding-right: 320px
  }

  .addHeader {
    padding-left: 320px;
    padding-right: 320px
  }

  .addImg {
    padding-left: 320px;
    padding-right: 320px;
    height: 30vw
  }
}