* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: #c8ccd9
}

body {
  overflow-x: hidden !important;
}

/* body {
  background: #c8ccd9
}  */

/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(84, 66, 66, 0.3);
  mix-blend-mode: overlay;
} */

.overlay2 { 
  position:fixed;
  height: 50vh;
  width: 100%;
  background-image: linear-gradient( rgba(0,0,0,0), beige);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  z-index: 5
}

.landingPage {
  height: 0vh;
  width: 100vw;
  background-image: url(./pictures/gardensBay.jpg);
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

.overlay {
  position:fixed;
  color: #804d17;
  display: flex;
  justify-content: center;
  left: 25vw;
  top: 130px;
  height: 30vh;
  width: 50vw;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.overlay2{
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.landingIcon {
  display:flex;
  justify-content: center;
}

.parrot {
  position:fixed;
  right: 0;
  top: 200px;

}

.eagle {
  position:fixed;
  left: 10vw;
  top: 180px
}

.errorMessage {
  color: crimson
}

/* .landingText {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 50vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 400000;
  color: white;
  text-shadow: 1px 0 0 rgb(178, 189, 57), 0 -1px 0 rgb(178, 189, 57), 0 1px 0 #000, -1px 0 0 #000;
  background-color: rgba(112, 224, 226, 0.3);
  padding: 30px;
  border-radius: 20px;
  top: 200px
} */


.leaflet-container {

  width: 99vw;
  height: 85vh;
  z-index: 1
}

.card {
  background-color: #c8ccd9 !important;
  border: 0px !important
}

.row>* {
  padding-bottom: 12px !important;
  padding-top: 12px
}

.leaflet-touch .leaflet-control-zoom-in,
.leaflet-touch .leaflet-control-zoom-out {
  background-color: #fff2dd;
  color: #642d3c
}

.home {
  background: #c8ccd9
}

.addFooter {
  height: 90px
}

.header {
  height: 90px;
  width: 100vw;
  top: 0px;
  position: fixed;
  background: #fff2dd;
  display: flex;
  justify-content: center;
  z-index: 2
}

.mapFilter {
  height: 75px;
  width: 250px;
  top: 100px;
  right: 5px;
  position: fixed;
  background: #fff2dd;
  z-index: 2;
}

.nonFixedHeader {
  height: 90px;
  width: 100%;
  top: 0px;
  background: #fff2dd;
  display: flex;
  justify-content: center;
  z-index: 1
}

.main {
  background: #c8ccd9
}

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #282c34
} */

.navigation {
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0px;
  background: #fff2dd;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  /* border-radius: 10px; */
  z-index: 1;
}

.navigation ul {
  display: flex;
  width: 350px;
  padding-left: 0rem
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 2
}

.icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
  bottom: 17px
}

.icon-container .iconInactive {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.7em;
  text-align: center;
  transition: 0.5s;
  color: #282c34;
}

.icon-container .iconActive {
  transform: translateY(10px);
  font-size: 2.5em;
  transition: 0.2s;
  color: #642d3c;
}

.icon-container .textInactive {
  position: absolute;
  color: #282c34;
  font-weight: 400;
  font-size: 0.85em;
  letter-spacing: 0.05em;
  opacity: 1;
  transform: translateY(20px);
  padding-top: 5px
}

.icon-container .textActive {
  opacity: 0;
  transform: translateY(10px)
}

.accordion-button {
  background-color: #fff2dd !important;
}

.accordion-body {
  background-color: #fff2dd !important;
}

.accordion-button:focus {
  border-color: #642d3c !important;
}

.card-header {
  background-color: #e8c6a2 !important;
}

.card-body {
  background-color: #fff2dd !important;
}

.btn-primary {
  background-color: #e8c6a2 !important;
  color: #642d3c !important;
  border-color: #642d3c !important
}

.modal-header {
  background-color: #e8c6a2 !important;
}

.modal-body {
  background-color: #fff2dd !important;
}

.modal-footer {
  background-color: #fff2dd !important;
}

.alert {
  margin-bottom: 0rem !important
}

.swal2-popup {
  background-color: #fff2dd !important
}

.swal2-title {
  color: #642d3c !important
}

.swal2-html-container {
  color: #642d3c !important
}


.swal2-styled.swal2-confirm {
  background-color: #e8c6a2 !important;
  color: #642d3c !important
}

.swal2-icon.swal2-warning {
  border-color: #d12a2a !important;
  color: #d12a2a !important
}

/* .container-fluid {
  padding: 0px  !important
} */

.row {
  padding: 0px !important;
  margin: 0px !important
}

.desktopNavbar {
  display: none;
}

/* .accordion-button:not(.collapsed) {
  color: #642d3c !important

} */

/* .accordion-button::after
.accordion-button:not(.collapsed)::after */

@media only screen and (min-width: 768px) {
  /* For desktop: */
  /* .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;} */

  /* .row{
    padding-left: 320px;
    padding-right: 320px
  } */

 

  .navigation {
    display: none
  }

  .landingBtn {
    width: 30vw !important
  }

  .landingPadding {
    height: 90px !important
  }

  .header {
    display: none
  }

  .nonFixedHeader {
    display: none
  }

  .desktopPadding {
    height: 87px
  }


  .desktopNavbar {
    display: block;
    /* position: fixed; */
    /* top: 0px; */
    width: 100vw;
    /* height: 20vw */
  }

  .fixed-top {
    /* padding-top: 15px !important;
    padding-bottom: 15px !important; */
    background-color: #fff2dd !important;
  }

  .navbar-light .navbar-nav .nav-link {
    color: #642d3c !important;
    font-size: 20px;
  }

  .pageActive {
    font-weight: 600;
  }

  /* .addHeader {
    padding-left: 320px;
    padding-right: 320px
  } */

  .formPadding {
    padding-left: 20vw;
    padding-right: 20vw;

  }

  .addImg {
    padding-left: 20vw;
    padding-right: 20vw;
    height: 30vw
  }

  .container-fluid {
    padding: 12px
  }

  .profileBar {
    padding-left: 10vw !important;
    padding-right: 10vw !important;
  }

  .leaflet-container {

    width: 100vw;
    height: 92vh;
    z-index: 1
  }


}